@{
    ViewData["Title"] = "Dobble game";
}

<div class="row">
    <div class="game-board">
        <div class="opponents">
            <div class="opponent-board opponent-1">
                <div class="info-box">
                    <h5 class="username">Przeciwnik</h5>
                </div>
                <div class="card back-card"></div>
            </div>
            <div class="opponent-board opponent-2">
                <div class="info-box">
                    <h5 class="username">Przeciwnik</h5>
                </div>
                <div class="card back-card"></div>
            </div>
            <div class="opponent-board opponent-3">
                <div class="info-box">
                    <h5 class="username">Przeciwnik</h5>
                </div>
                <div class="card back-card"></div>
            </div>
            <div class="opponent-board opponent-4">
                <div class="info-box">
                    <h5 class="username">Przeciwnik</h5>
                </div>
                <div class="card back-card"></div>
            </div>
        </div>
        
        <div class="stack-row">
            <div class="info-box">
                <h4>Runda <span id="round">0</h4></h4>
                <div id="rjkegbuaectdyofttnrectg"></div>
            </div>
            <div class="card">
                <div id="stack-card" class="full-width full-height">
                </div>
            </div>
            <div class="info-box"></div>
        </div>

        <div class="user-board">
            <div class="info-box"></div>
            <div id="user-card" class="card"></div>
            <div class="info-box">
                <h5 class="username">Gracz</h5>
            </div>
        </div>
    </div>
</div>