@model UserListModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="panel">
        <ul>
            @foreach (var user in Model.Users) {
                <li><b>@user.Id</b>: @user.UserName <br> <i>@user.Email</i></li>
            }
        </ul>
    </div>
</div>