@import '~bootstrap/less/bootstrap';

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    background: #eee;
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.game-board {
    width: 100%;
    height: 880px;
    background: #00FF00;

    .card {
        width: 200px;
        height: 200px;
        background: #FFF;
        border: 2px #CCC solid;
        border-radius: 50%;
        box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.4);
        position: relative;

        &.back-card {
            border: 0;
            background: url(/images/dobbleBackcard.png) no-repeat center center;
            background-size: cover;
        }

        .object {
            width: 50px;
            height: 50px;
            position: absolute;
            text-align: center;
            line-height: 50px;
            font-size: 40px;

            &.pos-1 {
                left: 120px;
                top: 100px;
            }
            &.pos-2 {
                left: 220px;
                top: 120px;
            }
            &.pos-3 {
                left: 80px;
                top: 30px;
            }
            &.pos-4 {
                left: 160px;
                top: 210px;
            }
            &.pos-5 {
                left: 170px;
                top: 40px;
            }
            &.pos-6 {
                left: 70px;
                top: 170px;
            }

            @cards: 34;
            .card-tile (@i) when (@i > 9) {
                &.tile-@{i} {
                    background: url(~"/images/tiles/tile0@{i}.png") no-repeat center center;
                }
                .card-tile(@i - 1);
            }
            .card-tile(@cards);

            .card-tile-2 (@i) when (@i > 0) {
                &.tile-@{i} {
                    background: url(~"/images/tiles/tile00@{i}.png") no-repeat center center;
                }
                .card-tile-2(@i - 1);
            }
            .card-tile-2(9);
        }
    }

    .opponents {
        height: 220px;
        display: flex;
        justify-content: space-evenly;
        padding: 10px;

        .opponent-board {
            width: 260px;
            height: 220px;
            flex: 1 0;
            display: flex;
            justify-content: center;
        }

        .info-box {
            width: 100px;
        }
    }

    .user-board, .stack-row {
        width: 100%;
        height: 320px;
        display: flex;
        justify-content: center;
        padding: 10px;

        .card {
            width: 300px;
            height: 300px;

            .object {
                cursor: default;
            }
        }
    }

    .user-board {
        .object {
            cursor: pointer;
        }
    }

    .info-box {
        width: 200px;
        padding-top: 100px;
        text-align: center;
    }
}

@iterations: 360;
.rotate-loop (@i) when (@i > 0) {
    .rotate-@{i} {
        transform: ~"rotate(@{i}deg)";
    }
    .rotate-loop(@i - 360/24);
}
.rotate-loop(@iterations);

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

