@model RoomListModel

@{
    ViewData["Title"] = "Rooms";
}

<div class="container">
    <div class="row">
        <div class="panel">
            @if (@Model.CurrentUser != null && @Model.CurrentUser.Room == null) 
            {
                <form asp-action="Create" method="POST">
                    <button type="submit" class="btn btn-primary">Create room</button>
                </form>
            }
            @if (@Model.Rooms != null && @Model.Rooms.Count > 0)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Players</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (@Model.CurrentUser != null && @Model.CurrentUser.Room == null) 
                        {
                            @foreach (var room in @Model.Rooms)
                            {
                                <tr>
                                    <td>@room.Id</td>
                                    <td>@room.Users.Count / @room.limit</td>
                                    @if (@room.Users.Count < @room.limit)
                                    {
                                        <td><input type="button" class="btn btn-secondary" value="Join" onclick="location.href='@Url.Action("Join", "Rooms", new { roomToJoinId = @room.Id })'" /></td>
                                    }
                                </tr>
                            }
                        } 
                        else 
                        {
                            @foreach (var room in @Model.Rooms)
                            {
                                <tr>
                                    <td>@room.Id</td>
                                    <td>@room.Users.Count / @room.limit</td>
                                    @if (room.Users.Contains(@Model.CurrentUser))
                                    {
                                        <td><input type="button" class="btn btn-primary" value="Start game" onclick="location.href='@Url.Action("StartGame", "Game", new { roomId = @room.Id } )'" /></td>
                                        <td><input type="button" class="btn btn-secondary" value="Leave" onclick="location.href='@Url.Action("Leave", "Rooms", new { roomToLeaveId = @room.Id } )'" /></td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>EmptyState</p>
            }
        </div>
    </div>
</div>
